@{
    ViewBag.Title = "AboutAPP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/APPabout.css" rel="stylesheet" />
<div class="banner">
    <img src="~/Img/APP_Introduce/app_banner.png" />
</div>
<div class="part1">

    <div>
        <img src="~/Img/APP_Introduce/icon-0.png" />
        <h3>发布需求</h3>
        <p>
            如遇到难题不慌张<br />
            一键发布解决难题
        </p>
    </div>


    <div>
        <img src="~/Img/APP_Introduce/icon-1.png" />
        <h3>伸出援手</h3>
        <p>
            力所能及帮助他人<br />
            点击抢单开始帮忙
        </p>
    </div>

    <div>
        <img src="~/Img/APP_Introduce/icon-2.png" />
        <h3>视频答疑</h3>
        <p>
            一对一直播视频答疑<br />
            真人互动全新体验
        </p>
    </div>

</div>

<div class="part2">
    <div class="qiuzhidao">
        <figure>
            <img src="~/Img/APP_Introduce/qiuzhidao.png" />
        </figure>
        <h3 class="simple_h3">简单高效的功能，是为了快速有效匹配需求与供应</h3>
        <p class="qiuzhidao_p">
            用户发出请求，并标出为此按分钟支付的费用<br />
            通过微乐享平台根据用户习惯推送<br />
            收到推送信息的用户通过"抢单"来承接服务和获得收益<br />
            想解决学习中/生活中的难题
        </p>
        <button>
            一键发布
        </button>
    </div>
    @* <img src="~/Img/APP_Introduce/shouji.png" class="fr" />*@
    <div class="shouji">
        <img src="~/Img/APP_Introduce/shouji.png" />
    </div>
</div>
<div class="part2 shenyuanshou">
    <div class="sys_left">
        <img src="~/Img/APP_Introduce/xueba.png" />
    </div>
    <div class="qiuzhidao">
        <figure>
            <img src="~/Img/APP_Introduce/shenyuanshou.png" />
        </figure>
        <h3 class="sharezhihui">分享智慧与经验帮助需要帮助的人</h3>
        <p>
            十万名校学子亲自指导
        </p>
        <button>
            一键抢单
        </button>
    </div>
</div>
<div class="part3">
    <img src="~/Img/APP_Introduce/bottom.png" />
</div>
<script type="text/javascript">
    //var SomeClass = { name: 'yuan' };
    //var obj1 = {
    //    m1: function someMethod(arg1, arg2) {
    //        console.log(arg1, arg2);
    //    },
    //    m2: function anotherMethod() {
    //        console.log('hello world');
    //    }
    //};

    //Object.assign(SomeClass, obj1);
    //SomeClass.m1(5,6);
</script>
