@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/Index.css" rel="stylesheet" />
@*<script src="~/Scripts/jquery-1.12.0.min.js"></script>*@
<div class="banner">
    <img src="~/Img/banner01.png" />
</div>
<h2>我们的初衷</h2>
<p>
    一对一,面对面,前辈为你解说和分享自己的经历与经验。他们不一定是社会的佼佼者,他们只是比你早走过你要走的路,他们不能帮你做关于你人生的任何决定。
    但是,他们能将自己的生活经验/
    故事/智慧分享给你,进行一次面对面深度的交流。或许,你的经历能启发无限的可能……
</p>
<div class="about">ABOUT  US</div>
<div class="share">
    <div class="li1 inline"></div>
    <div class="li2 inline"></div>
    <div class="li3 inline"></div>
     <div class="rot1 root"></div>
    <div class="rot2 root"></div>
</div>
<div class="lastpart">
    <div class="flex fl1">
        <img src="~/Img/1-1.png" />
        <div>
            <h3>海量前辈</h3>
            <span>严选前辈达人专属服务</span>
        </div>
    </div>
    <div class="flex fl2">
        <img src="~/Img/1-2.png" />
        <div>
            <h3>私人指导</h3>
            <span>首创独家一对一视频直播指导</span>
        </div>
    </div>
    <div class="flex fl3">
        <img src="~/Img/1-3.png" />
        <div>
            <h3>按需付费</h3>
            <span>根据个人需求定价灵活沟通</span>
            
        </div>
    </div>

</div>

<script>    
   
    //var res = [];

    //function response(data) {
    //    alert(data);
    //    var chunk = data.splice(0, 500);
    //    res = res.concat(chunk.map(function (val) {
    //        return val*2;    
    //    }));
    //    if (data.length>0) {
    //        setTimeout(function () {
    //            response(data);
    //        }, 0);
    //    }
    //    console.log(res);
    //}

    //$.post('/MicroShareIndex/Test1', response);
    //$.post('/MicroShareIndex/Test2', response);

    //-------------回调-----------
    //var a = 1;
    //var b = 3;
    //function test() {
    //    setTimeout(function () {
    //        a++;
    //        var c = a + b;
    //        console.log(c+'C');
    //    }, 3000);
    //    var d = a + b;
    //    console.log(d+'D');
    //}
    //test();
    //var e = a * b;
    //console.log(e+'E');

    //------------Promise------------
    //var p3 = new Promise(function (resolve, reject) {
    //    resolve('B');
    //});
    //var p1 = new Promise(function (resolve, reject) {
    //    resolve(p3);
    //});
    //p2 = new Promise(function (resolve, reject) {
    //    resolve('A');
    //});
    //p1.then(function (v) {
    //    console.log(v+'P1的then');
    //});
    //p2.then(function (v) {
    //    console.log(v+'P2的then');
    //});

    //----eg:
    //var p = new Promise(function (resolve, reject) {
    //    resolve(42);
    //});
    //p.then(function fulfilled(msg) {
    //    foo.bar();
    //    console.log(msg);

    //},
    //function rejected(err) {
    //    console.log(err);
    //});
</script>


